<a href="https://colab.research.google.com/github/princythomasss/Assignment_Entri/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python Fundamentals**

Exercise 1  
Write Python code that prints your name, student number and email address.  
An example runs of the program:  
Bob
ST1001
bob@gmail.com

In [1]:
print("Prncy PT1001 thomasprincy01@gmail.com")

Prncy PT1001 thomasprincy01@gmail.com

Exercise 2

Write Python code that prints your name, student number and email address using escape sequences
An example runs of the program:
Bob
ST1001
bob@gmail.com

In [2]:
print("Prncy\nPT1001\nthomasprincy01@gmail.com")

Prncy
PT1001
thomasprincy01@gmail.com

Exercise 3

Write Python code that add, subtract, multiply and divide the two numbers. You can use the two numbers 14 and 7.  An example run of the program:  
14 + 7 = 21
14 * 7 = 98
14 â€“ 7 = 7
14 / 7 = 2

In [5]:
num1=14
num2=7
print(num1,"+",num2,"=",num1+num2)
print(num1,"*",num2,"=",num1*num2)
print(num1,"-",num2,"=",num1-num2)
print(num1,"/",num2,"=",num1/num2)

14 + 7 = 21
14 * 7 = 98
14 - 7 = 7
14 / 7 = 2.0

Exercise 4

Write Python code that displays the numbers from 1 to 5 as steps.
An example runs of the program:
1
2
3
4
5

In [6]:
for i in range(1,6):
  print(i)

1
2
3
4
5

Exercise 5
Write Python code that outputs the following sentence (including the quotation marks and line break) to the screen:
An example runs of the program:  
"SDK" stands for "Software Development Kit", whereas
"IDE" stands for "Integrated Development Environment".

In [10]:
print('''"SDK" stands for "Software Development Kit",whereas\n"IDE" stands for "Integrated Development Environment".''')

"SDK" stands for "Software Development Kit",whereas
"IDE" stands for "Integrated Development Environment".

Exercise 6

Practice and check the output
print("python is an \"awesome\" language.")
print("python\n\t2023")
print('I\'m from Entri.\b')
print("\65")
print("\x65")
print("Entri", "2023", sep="\n")
print("Entri", "2023", sep="\b")
print("Entri", "2023", sep="*", end="\b\b\b\b")

In [18]:
print("python is an \"awesome\" language.")
print("python\n\t2023")
print('I\'m from Entri.\b')
print("\65")
print("\x65")
print("Entri", "2023", sep="\n")
print("Entri", "2023", sep="\b")
print("Entri", "2023", sep="*", end="\b\b\b\b")

python is an "awesome" language.
python
	2023
I'm from Entri.
5
e
Entri
2023
Entri2023
Entri*2023

Exercise 7

Define the variables below. Print the types of each variable. What is the sum of your variables? (Hint: use a type conversion function.) What datatype is the sum?
num=23
textnum="57"
decimal=98.3

In [24]:
num=23
textnum="57"
decimal=98.3
print(type(num))
print(type(textnum))
print(type(decimal))
sum=num+int(textnum)+decimal
print("sum =",sum)
print(type(sum))

<class 'int'>
<class 'str'>
<class 'float'>
sum = 178.3
<class 'float'>

Exercise 8

calculate the number of minutes in a year using variables for each unit of time. print a statement that describes what your code does also. Create three variables to store no of days in a year, minute in a hour, hours in a day, then calculate the total minutes in a year and print the values
(hint) total number of minutes in an year =No.of days in an year * Hours in a day * Minutes in an hour

In [31]:
days=365    #Total number of days in a year
minutes=60  #Total minutes in a hour
hours=24    #Total hours in a day
Minutes_in_a_year = days*minutes*hours
print("This code calculates the total minutes in a year i.e.",Minutes_in_a_year)
print(Minutes_in_a_year)

This code calculates the total minutes in a year i.e. 525600
525600

Exercise 9

Write Python code that asks the user to enter his/her name and then output/prints his/her name with a greeting.
An example runs of the program:
Please enter you name: Tony
Hi Tony, welcome to Python programming :)

In [32]:
Name=input("Please Enter Your Name")
print("Hi",Name,", welcome to Python programming :)")

Please Enter Your NamePrincy
Hi Princy , welcome to Python programming :)

Exercise 10

Name your file: PoundsToDollars.py
Write a program that asks the user to enter an amount in pounds (Â£) and the program calculates and converts an amount in dollar ($)
An example runs of the program:
Please enter amount in pounds: XXX
Â£ XXX are $ XXX

In [37]:
Pounds=int(input("Please enter amount in pounds : "))
Dollar=Pounds*1.27
print(Dollar,"$ is equal to",Pounds,"Pounds")

Please enter amount in pounds : 6
7.62 $ is equal to 6 Pounds