<a href="https://colab.research.google.com/github/princythomasss/Assignment_Entri/blob/main/Task2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. Write a Python program to sum all the items in a list.**

In [3]:
List=[2,4,7,8,22,77]
sum=0
for i in List:
  sum=sum+i
print("Sum of the total items in list is {}".format(sum))

Sum of the total items in list is 120

**2. Write a Python program to get the largest number from a list.**

In [4]:
List=[6,9,2,55,88,34,23]
Largest_num=0
for i in List:
  if i>Largest_num:
    Largest_num=i
print("The Largest number from the given list is {}".format(Largest_num))

The Largest number from the given list is 88

**3. Write a Python program to count the number of strings from a given list of strings. The string length is 2 or more and the first and last characters are the same.
Sample List : ['abc', 'xyz', 'aba', '1221']
Expected Result : 2**

In [5]:
 List=['abc','xyz','aba','1221']
 j=0
 for i in List:
  if len(i)>=2 and i[0] == i[-1]:
    j+=1
print("The total number string with length >=2 and 1st and last characher same is {}".format(j))

The total number string with length >=2 and 1st and last characher same is 2

**4. Write a Python program to remove duplicates from a list.**

In [6]:
List=['3','6','8','22','6','22']
Revised_List=[]
for i in List:
  if i not in Revised_List:
    Revised_List.append(i)
print("List after removing duplicates is {}".format(Revised_List))

List after removing duplicates is ['3', '6', '8', '22']

**5. Write a Python program to check if a list is empty or not.**

In [8]:
List=['3','6','8','22','6','22']
#List=[]
if not List:
  print("List is empty")
else:
  print("List is not empty")

List is not empty

**6. Write a Python program to filter the list if the length of the character is < 4
Sample List : ['abc', 'xyz', 'aba', '1221']
Expected Result: ['abc', 'xyz', 'aba']**

In [ ]:
List=['abc','xyz','aba','1221']
Revised_List=[]
for i in List:
  if len(i)<4:
    Revised_List.append(i)
print("Revised List after the length of character is less than 4 is {}".format(Revised_List))

Revised List after the length of character is less than 4 is ['abc', 'xyz', 'aba']

**7.Write a Python program to find the second largest number in a list.**

In [2]:
List=[6,9,2,55,88,34,23]
Largest_num=0
for i in List:
  if i>Largest_num:
    Largest_num=i
print("The Largest number from the given list is {}".format(Largest_num))

The Largest number from the given list is 88

**8.Write a Python program to reverse a list at a specific location**

In [20]:
nums = [10, 20, 30, 40, 50, 60, 70, 80]
nums[2:5] = nums[2:5][::-1]
print(nums)

[10, 20, 50, 40, 30, 60, 70, 80]

**9.Write a Python program to check if a list is a palindrome or not. Return true otherwise false.**

In [53]:
def isPalindrome(x):
    reverse = list[::-1]
    if(reverse==list):
        return True
    return False

list = [1,2,3,4,3,2,1]
#list =[1,2,3,4,5,6,4,2]
ans = isPalindrome(list)
if ans:
    print("It is a palindrome")

else:
    print("It is not a palindrom")

It is a palindrome

**10.Write a Python a program to find the union and intersection of two lists**

In [57]:
def Union(list1, list2):
    Union_list = (set(list1) | set(list2))
    return Union_list

def intersection(list1, list2):
    list3 = set(list2)
    intersection_list = [value for value in list1 if value in list3]
    return intersection_list

list1 = [1,2,3,4,5,6,45,33]
list2 = [1,2,3,7,8,33,77,55]
Union_list=Union(list1,list2)
intersection_list=intersection(list1,list2)
print(f"Union of the lists:{Union_list}")
print(f"Intersection of the lists:{intersection_list}")

Union of the lists:{1, 2, 3, 4, 5, 6, 33, 7, 8, 45, 77, 55}
Intersection of the lists:[1, 2, 3, 33]

**11.Write a Python script to sort (ascending and descending) a dictionary by value**

In [59]:
Pets_dict = {"Roxy": 7, "Dora": 3, "Bruno": 6, "Ruby": 1}
ascending = dict(sorted(Pets_dict.items(), key=lambda x: x[1]))
descending = dict(sorted(Pets_dict.items(), key=lambda x: x[1],reverse=True))
print(f"ascending is {ascending}")
print(f"descending is {descending}")

ascending is {'Ruby': 1, 'Dora': 3, 'Bruno': 6, 'Roxy': 7}
descending is {'Roxy': 7, 'Bruno': 6, 'Dora': 3, 'Ruby': 1}

**12.Write a Python script to check whether a given key already exists in a dictionary**

In [60]:
Pets_dict={1:"Roxy",2:"Ruby",3:"Dora",4:"Bruno"}
key=int(input("enter the key:"))
if key in Pets_dict.keys():
    print(f"key {key} is in the list")
else:
    print(f"key {key} is not in the list")

enter the key:4
key 4 is in the list

**13.Write a Python program to sum all the values in a dictionary**

In [61]:
Pets_dict = {"Roxy": 7, "Dora": 3, "Bruno": 6, "Ruby": 1}
sum=0
for i in Pets_dict.values():
  sum+=i
print(f"sum of all the values is i dict is {sum}")

sum of all the values is i dict is 17

**14.Write a Python program to create a dictionary with a number and its corresponding square from 1 to input number. And also check if the input number is less than 10
Eg:
Input : 3
Output : {1:1, 2:4, 3:9}**

In [42]:
num=int(input("enter the number:"))
if num<=10:
    num={i:i*i for i in range(num+1) }
    print(num)

else:
    print("Number is greater than 10")

enter the number:8
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

**15.Write a Python program to sort a given dictionary by key**

In [62]:
Pets_dict = {"Roxy": 7, "Dora": 3, "Bruno": 6, "Ruby": 1}
Pets_dict=dict(sorted(Pets_dict.items()))

print("Dict sorted by keys:",Pets_dict)

Dict sorted by keys: {'Bruno': 6, 'Dora': 3, 'Roxy': 7, 'Ruby': 1}

**16.Write a Python program to create a dictionary from a string.
Note: Track the count of the letters from the string.
Sample string : 'learnpython'
Expected output: {'l': 1, 'e': 1, 'a': 1, 'r': 1, 'n': 2, 'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1}**

In [46]:
string="learnpython"
dict_write={}
for i in string:
    if i in dict_write:
        dict_write[i]+=1
    else:
        dict_write[i]=1
print(dict_write)

{'l': 1, 'e': 1, 'a': 1, 'r': 1, 'n': 2, 'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1}

**17.Write a Python program to get the top three items in a shop.
Sample data: {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}
Expected Output:
item4 55
item1 45.5
item3 41.3**

In [50]:
shop= {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}
Items=sorted(shop.items(), key=lambda x: x[1],reverse=True)
Top_Price=Items[:3]
print(dict(Top_Price))

{'item4': 55, 'item1': 45.5, 'item3': 41.3}